<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">

   <div class="row mt-5">
       <div class="col shadow" >

           <div class="row mt-2">
               <div class="col">제목</div>
               <div class="col" th:text="${boardDTO.title}"> </div>

           </div>
           <div class="row mt-2">
               <div class="col">내용</div>
           </div>
           <div class="row mt-2 mb-3">
               <div class="col" th:text="${boardDTO.content}"> </div>
           </div>


           <div class="row mt-2 mb-3">
               <div class="col">
                   <img th:src="@{ '/images/board/' + ${bimgDTO.imgname} }" class="card-img-top" alt="...">
               </div>
           </div>

           [[${bimgDTO.imgname}]] <br>
           [[${bimgDTO.oriimgname}]]<br>
           [[${bimgDTO.img_url}]]<br>
           [[${bimgDTO.bino}]]<br>

           <a th:href="@{/board/modify(bno=${boardDTO.bno})}" class="btn btn-dark">수정</a>

           <a th:href="@{/board/del(bno=${boardDTO.bno})}" class="btn btn-dark">삭제</a>

           <a href="/board/list"  type="button"  class="btn btn-dark">목록</a>


       </div>


   </div>

</div>


</body>
</html>