<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div layout:fragment="content">



        <form action="/board/register" method="post" th:object="${boardDTO}">
            <div class="row mt-5">
                <div class="col shadow">
                    <div class="mb-3 mt-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control"  th:field="*{title}" id="title" placeholder="여기다가 제목을써봐">
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"  class="fieldError">

                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" th:field="*{content}" id="content" rows="3"></textarea>
                        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"  class="fieldError">

                        <div class="text-center mt-4">
                            <button  class="btn btn-dark">저장</button>
                            <a type="button" href="/board/list" class="btn btn-dark">목록</a>
                        </div>

                    </div>
                </div>


            </div>

        </form>









    </div>

</body>
</html>